@charset "UTF-8";

/* Typical Device Breakpoints

------------------------------

Pequenas telas: até 600px

Celular: de 600px até 768px

Tablet: 768px até 992px

Desktop: 992px até 1200px

Grandes telas: acima de 1200px

*/

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    main{
        background-image: linear-gradient(to bottom, #464C59, #BFCAD9);
    }
    section#login{
     width: 80vw;
   }
    div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 70%;
    }
 
}
@media screen and (min-width:992px) {

    section#login{
        width: 841px;
    }
    main{
        background-image: linear-gradient(to bottom, #464C59, #BFCAD9);
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 70%;
    }
 
}